<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {
    font-family: sans-serif;
    padding: 1em;
  }
  .alert {
    border: 5px dashed black;
    background: yellow;
    padding: 1.5em;
    font-size: 1.5em;
  }

  .code-sample {
    border: 10px solid #d1d2d4;
    padding: 10px;
  }
  
  .btn {
    padding: 0.5em;
    margin: 1em;
    font-size: 1.25em;
  }
  </style>

  {% if db_connection %}
    <h1>Here is your database!</h1>


      Username: {{ db_connection['username'] }}<br />
      Password: {{ db_connection['password'] }}<br />
      Hostname: {{ db_connection['hostname'] }}<br />
      Port:     {{ db_connection['port'] }}<br />
      Database Name: {{ db_connection['db_name'] }}<br />

      <hr />
      <small>Same info as json</small>:<br />
      <p>{{ db_connection }}</p>


      <h2>Example python app which connects to your database:</h2>

      Python code sample how to connect to your database:
      <div class="code-sample">
      <pre>engine = create_engine(
          "mysql+pymysql://{{ db_connection['username'] }}:{{ db_connection['password'] }}@{{ db_connection['hostname'] }}:{{ db_connection['port'] }}/{{ db_connection['db_name'] }}?charset=utf8mb4",
          pool_pre_ping=True)</pre>
      </div>

      <p>Update the code below with your connection details from above:</p>

      <div class="code-sample">
        <pre>{% include 'example-app-python-app.py' %}</pre>
      </div>
      <br />
      <div class="code-sample">
        To use the above code, you'll also need to pip install the requirements: e.g<br />
        pip install flask<br />
        pip install sqlalchemy<br />
      </div>

      <div class="alert">
        <em>Warning:</em> Only use for testing and experimentation.
      </div>
  {% else %}

    <h1>(Just) Give me a database!</h1>

    {% if 'text' in msg %}
      <div class="alert">
          {{ msg['text'] }}
      </div>
    {% endif %}


    Use this to get an SQL database instantly and start coding.
    <ul>
      <li>Sick and tired of complex cloud?</li>
      <li><a href="https://www.youtube.com/watch?v=BtJAsvJOlhM">Too many options</a>?</li>
      <li>Just want an SQL database?</li>
    </ul>

    <p>Press the button below and you'll get:</p>

    <ul>
      <li>An SQL database with the connection details you need to access it</li>
      <li>Example code showing how to use it</li>
    </ul>

    <form method="POST">
      <input type="submit" class="btn" value="Give me a database, like now!" onclick="showMesage()" />
    </form>

    <script>
    function showMesage() {
      alert("Creating your database now!\n\nThe next page will give you the connection settings to connect to your database.");
    }
    </script>

  {% endif %}

</html>
